<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.web>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="pl-PL" uiCulture="pl-PL" />
	</system.web>
</configuration>